<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/documentation/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ mysql_db }}' );

/** Database username */
define( 'DB_USER', '{{ mysql_user }}' );

/** Database password */
define( 'DB_PASSWORD', '{{ mysql_password }}' );

/** Database hostname */
define( 'DB_HOST', '{{ mysql_host }}' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
#define( 'AUTH_KEY',         'KB0gn2D4-EzW<^DSr*uWAW|!KTy)v?o#|U0O(dH.(~o)3_{D-%{/{obFOea,j qP' );
#define( 'SECURE_AUTH_KEY',  '6EBg_aZMX?z#B|&dJZR > h{>a$N[-SyqIert>e0kr?3!j<2-`b-mo5e!92mGo0,' );
#define( 'LOGGED_IN_KEY',    'y ~)7`*I!CqvT,M*BwEr}Fx/^8RP6z0:KJkt@jgZ5JPZdqq@S/J<+u,,T#%Qu+qy' );
#define( 'NONCE_KEY',        'A$@rC)E{Sf5!5(9&7). 9W]_( Ve$N6 d<Od.5}$Irr_K?3)nP6d_4joId[%rS[3' );
#define( 'AUTH_SALT',        '(O)-q;(+G[)~V<YF4l@#GgE,DX({umqFoe~ J7gtfQ8I`$lIz[!+]v3E1c6-|)^u' );
#define( 'SECURE_AUTH_SALT', '^aK{cyUZcbg>K>-fzRPLLpL&+p:q]QlH}PIf5(>c5Nto/*oiH>`>WKY.5t0?kt$9' );
#define( 'LOGGED_IN_SALT',   '3cqbHBS8q5z8%@Ze2 uF[/L0%>AD,_@N`Dxbp)Y,<`*;^]#akcT+@%.8(,3|V4|O' );
#define( 'NONCE_SALT',       's*_]|B3o8*un{w3ytS{|},2.l.pv`PwZ|Z[c/;?Q_1r,IwNY2ipj{>5D00Z(sqJB' );

#{{ wp_salt.stdout_lines }}

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/documentation/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';